In [2]:
a = 1
b = 2
print(a+b)

3

In [3]:
name = "Asfa Tabish"
print(name)
print(type(name)) #class data type
print(id(name)) #physical address data type

Asfa Tabish
<class 'str'>
2211287802864

In [4]:
a = 20
print(a)
print(type(a))
print(id(a))

20
<class 'int'>
140719798261128

In [5]:
a = 20.7
print(a)
print(type(a))
print(id(a))

20.7
<class 'float'>
2211287560880

In [6]:
a = [1,2,3] #list
print(a)
print(type(a))
print(id(a))

[1, 2, 3]
<class 'list'>
2211288165312

In [7]:
a = {1,1,1,2,5,5,2} #nique collection
print(a)
print(type(a))
print(id(a))

{1, 2, 5}
<class 'set'>
2211288029376

In [8]:
a = {"name":"Asfa" ,
    "education":"DS&AI"}
print(a)
print(type(a))
print(id(a))

{'name': 'Asfa', 'education': 'DS&AI'}
<class 'dict'>
2211288108864

In [9]:
a = 7 # dynamic data type language
print(a, type(a), id(a))

a = '7' # string data type langauge
print(a, type(a), id(a))

a = 7.0 # float
print(a, type(a), id(a))

7 <class 'int'> 140719798260712
7 <class 'str'> 140719798304208
7.0 <class 'float'> 2211287561136

In [10]:
asfa = 1
asfa = 2
asfa = '2'
print(asfa)

2

In [11]:
a = '1'
b = '1'

print(a + b)

11

In [12]:
a = 1
b = 1

print(a + b)

2

In [13]:
asfa = 1
print(asfa, type(asfa), id(asfa))

asfa = 2
print(asfa, type(asfa), id(asfa))

asfa = '2'
print(asfa, type(asfa), id(asfa))

1 <class 'int'> 140719798260520
2 <class 'int'> 140719798260552
2 <class 'str'> 140719798303928

In [14]:
x = 6 # shallow copy
y = 6
z = 6

print(id(x))
print(id(y))
print(id(z))

140719798260680
140719798260680
140719798260680

In [15]:
a = 7
b = '7'

print(id(a)) # deep copy
print(id(b))

140719798260712
140719798304208

In [16]:
a = 7
b = '7'

print(id(a)) # deep copy
print(id(b))

140719798260712
140719798304208

# Python divides the operators in the following groups:

. Arithmetic operators

. Assignment operators

. Comparison operators

. Logical operators

. Identity operators

. Membership operators

. Bitwise operators

# Arithmetic operators

In [17]:
print(2 + 7, "Addition")
print(7 - 2, "Subtaction")
print(7 * 2, "Multiplication")
print(7 / 2, "Division")

9 Addition
5 Subtaction
14 Multiplication
3.5 Division

print(11 % 3)

In [19]:
print(2 ** 2)
print(2 ** 3)

4
8

In [20]:
7/2

3.5

In [21]:
7//2

3

# Python Assignment Operators

In [22]:
a = 7
print(a)

7

In [23]:
a += 2
print(a)

9

# Python Comparison Operators

In [24]:
a = 7
b = 7

a == b

#a == b
#7 == 7
#True

True

In [25]:
a = 7
b = 9

a == b
#a == b
#7 == 7
#False

False

In [26]:
a = 7
b = 9

a > b
#a == b
#7 == 9
#False

False

In [27]:
a = 7
b = 9

a < b
#a == b
#7 == 9
#True

True

In [28]:
a = 9
b = 9

a >= b
#a == b
#7 == 9
#False

True

In [29]:
a = 9
b = 9

a != b
#a == b
#7 == 9
#False

False

# Python Logical Operators

In [30]:
#      1        2        3        4
print(True and True and True and True)
print(True and False and True and True)
print(True and False and True and False)

True
False
False

In [31]:
#      1        2        3        4
print(True or True or True or True)
print(True or False or True or True)
print(True or False or True or False)
print(False or True or True or True)

True
True
True
True